:root {
  --active-color: var(--color-primary-institutional-blue);
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  text-align: center;
  background: var(--color-primary-white);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.tab .icon {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.tab {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: transform 0.2s;
  border: none;
  text-align: right;
  padding: 0.5rem 0.75rem;
  text-align: left;
  padding-bottom: 0px;
  background-color: transparent;
}

.tab::after {
  content: '';
  display: block;
  flex-basis: 100%;
  margin-top: 0.813rem;
  border-bottom: 0.23rem solid var(--color-primary-institutional-blue);
  width: 100px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  position: relative;
  left: -15px;
}

.tab-panel {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out;
}

.show-panel {
  opacity: 1;
  visibility: visible;
}

.tab-list-active {
  transition: color 300ms ease-in-out;
  color: var(--active-color) !important;
}

.tab-list-active::after {
  transform: scaleX(1);
}
.tab:disabled {
  color: var(--color-primary-gray-2) !important;
  opacity: 0.5;
}
