registry=http://nexus.claro.amx/repository/virtual-claro-npm/
//nexus.claro.amx/repository/virtual-claro-npm/:_auth=YmlsbGV0ZXJhOmJpbGxldGVyYQ==
//nexus.claro.amx/repository/virtual-claro-npm/:always-auth=true
//nexus.claro.amx/repository/virtual-claro-npm/:strict-ssl=false