.button {
  border: none;
  width: 140px;
  padding: 11.5px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.button.button-primary,
.single-icon.single-icon-primary {
  background-color: #0097a9;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.button.button-primary:focus,
.single-icon.single-icon-primary:focus {
  border: 3px solid #006274;
}

.button.button-primary:hover,
.single-icon.single-icon-primary:hover {
  background-color: #006274;
  color: #fff;
}

.button.button-primary:active,
.single-icon.single-icon-primary:active {
  background-color: #006274;
  border: 3px solid #0097a9;
}

.button.button-primary.disabled,
.single-icon.single-icon-primary.disabled {
  background: #d0d0d0;
  cursor: initial;
}

.button.button-primary.disabled:active,
.single-icon.single-icon-primary.disabled:active {
  border: none;
}

.button.button-secondary,
.single-icon.single-icon-secondary {
  border: 1px solid #0097a9;
  background-color: #fff;
  color: #0097a9;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button.button-secondary:focus,
.single-icon.single-icon-secondary:focus {
  border: 3px solid #006274;
}

.button.button-secondary:hover,
.single-icon.single-icon-secondary:hover {
  background-color: #0097a9;
  color: #fff;
}

.button.button-secondary:active,
.single-icon.single-icon-secondary:active {
  background-color: #006274;
  border: 3px solid #0097a9;
}

.button.button-secondary.disabled,
.single-icon.single-icon-secondary.disabled {
  border: 1px solid #d0d0d0;
  background-color: #fff;
  color: #d0d0d0;
  cursor: initial;
}

.button .button-icon {
  margin-right: 10px;
}

.single-icon {
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 42px;
  height: 42px;
  padding: 9px;
}
