@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  color: #222222;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 9999;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.drawer-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10000;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

.drawer-container .header-drawer {
  padding: 0px 20px 0px 20px;
}

.drawer-container .divide {
  background-color: #0097a9;
  height: 1px;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  border-color: transparent;
}

.drawer-container #drawer-title {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}

.drawer-container.left {
  left: 0;
}

.drawer-container.right {
  right: 0;
}

.drawer-container.top {
  top: 0;
}

.drawer-container .drawer-content,
.drawer-container .drawer-content-children {
  padding: 20px;
}

.drawer-container .drawer-content-children {
  margin-top: 20px;
}

.drawer-container .icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.drawer-container .drawer-content::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

.drawer-container .drawer-content::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.drawer-container .drawer-content::-webkit-scrollbar-thumb {
  background: rgb(156, 156, 156);
  border-radius: 5px;
}
